#pc-wrap {
	.home-page {
		position: relative;
		width: 100%;
		height: auto;
		.info-box {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.right {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				.pagination-box {
					display: flex;
					flex-direction: row;
					align-items: center;
					.swiper-pagination-bullet {
						width: 9px;
						height: 9px;
						background: #ccc;
						opacity: 1;
					}
					.swiper-pagination-bullet.custom-bullet-active {
						background: #282727; /* Change this to your desired active bullet color */
					}
					.swiper-trend-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-trend-prev {
						margin-right: 20px;
						cursor: pointer;
					}
					.swiper-top-next {
						margin-left: 20px;
						cursor: pointer;
					}
					.swiper-top-prev {
						margin-right: 20px;
						cursor: pointer;
					}
				}
				.more-box {
					display: flex;
					flex-direction: row;
					cursor: pointer;
					align-items: center;
					span {
						color: #181a20;
						font-family: $font;
						font-size: 15px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						text-transform: capitalize;
					}
					img {
						margin-left: 10px;
						width: 16px;
						height: 16px;
					}
				}
				.btn-box {
					display: flex;
					flex-direction: row;
					button {
						border-radius: 6px;
						background: rgba(255, 255, 255, 0.07);
						color: #ffffff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 28px;
						text-transform: capitalize;
						&:first-child {
							margin-right: 20px;
						}
						&.active {
							border: 1px solid #181a20;
							background: #fff;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 28px;
						}
					}
				}
			}
		}
		.trend-properties {
			padding: 90px 0px 80px 0px;
			width: 100%;
			height: 697px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				.card-box {
					position: relative;
					margin-top: 50px;
					display: flex;
					flex-direction: row;
					align-items: center;
					.empty-list {
						width: 100%;
						height: 280px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.trend-property-swiper {
						width: 100%;
						height: 400px;
						display: flex;
						flex-direction: row;
						.trend-property-slide {
							display: flex;
						}
					}
					.trend-card-box {
						position: relative;
						display: flex;
						flex-direction: column;
						transition: transform 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 100%;
							height: 206px;
							background-size: cover; /* muhim */
							background-position: center; /* muhim */
							background-repeat: no-repeat; /* muhim */
							border-radius: 12px 12px 0 0;
							cursor: pointer;
							div {
								position: absolute;
								padding: 8px 12px;
								left: 12px;
								bottom: 12px;
								border-radius: 6px;
								background: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							border-top: none;
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
									img {
										margin-right: 5px;
										width: 17px;
										height: 17px;
									}
									span {
										color: #181a20;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								.view-like-box {
									display: flex;
									flex-direction: row;
									align-items: center;
								}
							}
						}
					}
				}
			}
		}
		.popular-properties {
			width: 100%;
			height: 816px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			.container {
				display: flex;
				flex-direction: column;
				align-items: center;
				.card-box {
					margin-top: 34px;
					width: 100%;
					height: 460px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					box-shadow: none;
					justify-content: space-between;
					.popular-property-swiper {
						width: 100%;
						height: 460px;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						.popular-property-slide {
							width: auto;
							height: auto;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
					.popular-card-box {
						position: relative;
						width: 400px;
						height: 425px;
						display: flex;
						flex-direction: column;
						transition: transform 0.3s, opacity 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 100%;
							height: 203px;
							background-size: cover; /* muhim */
							background-position: center; /* muhim */
							background-repeat: no-repeat; /* muhim */
							border-radius: 12px 12px 0px 0px;
							cursor: pointer;
							div.status {
								position: absolute;
								padding: 6px 34px;
								left: 20px;
								top: 20px;
								display: flex;
								align-items: center;
								border-radius: 6px;
								background: #eb6753;
								img {
									width: 14px;
									height: 14px;
								}
								span {
									margin-left: 5px;
									color: #fff;
									font-family: $font;
									font-size: 12px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: uppercase;
								}
							}
							div.price {
								position: absolute;
								padding: 8px 12px;
								left: 20px;
								bottom: 20px;
								border-radius: 6px;
								background: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							border-top: none;
							box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
							.title {
								overflow: hidden;
								color: #181a20;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								text-transform: capitalize;
								cursor: pointer;
							}
							.desc {
								margin-top: 5px;
								overflow: hidden;
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							.options {
								margin-top: 15px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								p {
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 500;
									line-height: normal;
									text-transform: capitalize;
								}
								.view-like-box {
									display: flex;
									flex-direction: row;
									align-items: center;
									.view-cnt {
										color: #717171;
										font-family: $font;
										font-size: 13px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
										text-overflow: ellipsis;
									}
								}
							}
						}
					}
				}
				.pagination-box {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					.swiper-pagination-bullet {
						width: 9px;
						height: 9px;
						background: #ccc;
						opacity: 1;
					}
					.swiper-pagination-bullet.custom-bullet-active {
						background: #282727; /* Change this to your desired active bullet color */
					}
					.swiper-popular-next {
						margin-left: 18px;
						cursor: pointer;
					}
					.swiper-popular-prev {
						margin-right: 18px;
						cursor: pointer;
					}
				}
			}
		}
		.video-frame {
			width: 100%;
			height: 678px;
			margin-top: 50px;
			background: black;
			transform: perspective(0px);
		}
		.top-properties {
			margin-top: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			border: 1px solid red;
			height: 697px;
			display: flex;
			flex-direction: row;
			.container {
				display: flex;
				flex-direction: column;
				height: 697px;
				.card-box {
					position: relative;
					margin-top: 65px;
					display: flex;
					flex-direction: row;
					.top-property-swiper {
						width: 100%;
						height: 500px;
						display: flex;
						flex-direction: row;
						.top-property-slide {
							width: auto;
							height: auto;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
					.top-card-box {
						position: relative;
						width: 325px;
						height: 375px;
						display: flex;
						flex-direction: column;
						transition: transform 0.3s;
						&:hover {
							opacity: 1;
							transform: scale(1.05);
						}
						.card-img {
							position: relative;
							width: 100%;
							height: 203px;
							background-size: cover; /* muhim */
							background-position: center; /* muhim */
							background-repeat: no-repeat; /* muhim */
							border-radius: 12px 12px 0px 0px;
							cursor: pointer;
							div {
								position: absolute;
								padding: 8px 12px;
								left: 12px;
								bottom: 12px;
								border-radius: 6px;
								background: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
						.info {
							padding: 20px 22px 17px;
							display: flex;
							flex-direction: column;
							box-sizing: border-box;
							border-radius: 0px 0px 12px 12px;
							border-top: none;
							.options {
								margin-top: 20px;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								div {
									display: flex;
									flex-direction: row;
								}
							}
							.bott {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								.view-like-box {
									display: flex;
									flex-direction: row;
									align-items: center;
								}
							}
						}
					}
				}
				.pagination-box {
					.swiper-pagination-bullet {
						width: 9px;
						height: 9px;
						background: #ccc;
						opacity: 1;
					}
					.swiper-pagination-bullet.custom-bullet-active {
						background: #282727; /* Change this to your desired active bullet color */
					}
				}
			}
		}
		.top-agents {
			position: relative;
			padding: 153px 0px 135px;
			width: 100%;
			height: 722px;
			display: flex;
			flex-direction: row;
			.container {
				position: relative;
				flex-direction: column;
				align-items: center;
				.wrapper {
					width: 100%;
					margin-top: 83px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.switch-btn {
						width: 53px;
						height: 53px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						filter: drop-shadow(0px 10px 35px rgba(5, 16, 54, 0.1));
						cursor: pointer;
					}
					.card-wrapper {
						width: 1174px;
						height: 310px;
						display: flex;
						flex-direction: row;
						.top-agents-swiper {
							width: 99.7%;
							height: 310px;
							display: flex;
							flex-direction: row;
							.top-agents-slide {
								width: auto;
								height: 310px;
								display: flex;
							}
						}
					}
				}
				.info-box {
					a {
						text-decoration: none;
					}
				}
			}
		}
		.community-board {
			position: relative;
			padding: 124px 0px 61px;
			width: 100%;
			height: 860px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
				align-items: center;
				.community-main {
					width: 100%;
					margin-top: 60px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.center-line {
						height: 90%;
						align-self: end;
					}
					.content-top {
						margin-bottom: 26px;
						width: 100%;
						height: 30px;
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						align-items: center;
						span {
							font-family: $font;
							font-style: normal;
							font-weight: 500;
							font-size: 16px;
							line-height: 36px;
							cursor: pointer;
						}
					}
					.community-left {
						width: 642px;
						height: auto;
						display: flex;
						flex-direction: column;
						.card-wrap {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							.vertical-card {
								margin-right: 12px;
								margin-bottom: 18px;
								width: 202px;
								display: flex;
								flex-direction: column;
								cursor: pointer;
								.community-img {
									width: 100%;
									height: 141px;
									background-size: cover;
									background-repeat: round;
									border-radius: 5px;
									div {
										width: 32px;
										height: 32px;
										display: flex;
										justify-content: center;
										align-items: center;
										background: #f54d56;
										border-radius: 5px 0px;
										font-family: $font;
										font-style: normal;
										font-weight: 400;
										font-size: 19px;
										line-height: 36px;
										letter-spacing: -0.015em;
										color: #bdbdbd;
									}
								}
								strong {
									margin-top: 10px;
									font-family: $font;
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 36px;
									letter-spacing: 0.105em;
								}
								span {
									font-family: $font;
									font-style: normal;
									font-weight: 400;
									font-size: 16px;
									line-height: 19px;
									letter-spacing: -0.015em;
								}
							}
						}
					}
					.community-right {
						width: 590px;
						height: auto;
						display: flex;
						flex-direction: column;
						.horizontal-card {
							display: flex;
							flex-direction: row;
							cursor: pointer;
							margin-bottom: 34px;
							img {
								width: 180px;
								height: 111px;
								border-radius: 7px;
							}
							div {
								margin-left: 25px;
								display: flex;
								flex-direction: column;
								strong {
									margin-top: 16px;
									font-family: $font;
									font-style: normal;
									font-weight: 500;
									font-size: 13px;
									letter-spacing: 0.105em;
								}
								span {
									font-family: $font;
									font-style: normal;
									font-weight: 500;
									font-size: 13px;
									line-height: 36px;
									letter-spacing: 0.105em;
								}
							}
						}
					}
				}
			}
		}
	}
}
